<footer role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <%= image_tag("logo-white.svg") %>
      <% end %>
    </div>
      <div class="footer-secondary-links">
        <ul>
          <li>
            <%= t("common.footer.organisation_name") %>
          </li>
          <li>
            <%= t("common.footer.contact_phone") %>
          </li>
          <li>
            <%= t("common.footer.contact_email") %>
          </li>
        </ul>
      </div>
  </div>
</footer>
