<section>
  <h1>
    <%= t("campaigns.index.header_active_campaigns") %>
  </h1>
</section>
<section>
  <% @active_campaigns.each do | campaign | %>
    <div class="campaign-grid-item">
      <%= link_to(campaign_path(campaign)) do %>
        <div class="item-header">
          <h2>
            <%= campaign.title %>
          </h2>
          <h3>
            <%= campaign.ingress %>
          </h3>
        </div>
        <div class="funding-progress">
          <div class="progress-graph">
            <canvas
              id="campaign-<%= campaign.id %>"
              width="30"
              height="30"
              data-id="<%= campaign.id %>"
              data-funding-current="<%= campaign.total_donation_amount %>"
              data-funding-left="<%= (campaign.funding_goal - campaign.total_donation_amount) %>"
              ></canvas>
          </div>
          <% if campaign.amount_before_pickup %>
            <div class="pickup-message">
              <h4>
                <%= t("campaigns.index.title_amount_before_pickup", {
                  amount_before_pickup: campaign.amount_before_pickup
                }) %>
              </h4>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
<section>
  <h1>
    <%= t("campaigns.index.header_expired_campaigns") %>
  </h1>
</section>
<section>
  <% @expired_campaigns.each do | campaign | %>
    <div class="campaign-grid-item">
      <%= link_to(campaign_path(campaign)) do %>
        <div class="item-header">
          <h2>
            <%= campaign.title %>
          </h2>
          <h3>
            <%= campaign.ingress %>
          </h3>
        </div>
        <div class="funding-progress">
          <% if campaign.fully_funded? %>
            <%= image_tag "funding_completed" %>
          <% else %>
            <div class="progress-graph">
              <canvas
                id="campaign-<%= campaign.id %>"
                width="30"
                height="30"
                data-id="<%= campaign.id %>"
                data-funding-current="<%= campaign.total_donation_amount %>"
                data-funding-left="<%= (campaign.funding_goal - campaign.total_donation_amount) %>"
                ></canvas>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
