<h1>Campigns</h1>
<section>
  <% @campaigns.each do | campaign | %>
    <div class="campaign-grid-item">
      <%= link_to(campaign_path(campaign)) do %>
        <div class="item-header">
          <h2>
            <%= campaign.title %>
          </h2>
          <p>
            <%= campaign.preamble %>
          </p>
        </div>
        <div class="funding-progress">
          <%= campaign.total_donation_amount %> / <%= campaign.funding_goal %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
