<h1>
  <%= @campaign.title %>
</h1>
<div>
  <h2>
    <%= t("campaigns.show.label_funding_status") %>
  </h2>
  <p>
    <%= t("campaigns.show.current_funding", {
      total_donation_amount: @campaign.total_donation_amount,
      funding_goal: @campaign.funding_goal
    })
    %>
  </p>
</div>
<div>
  <%= @campaign.preamble %>
</div>
<div>
  <%= simple_format(@campaign.body_text) %>
</div>
<div>
  <%= t("campaigns.show.label_contact_person") %>
  <%= @campaign.contact_person %>
</div>
<% if @campaign.drop_off_locations.present? %>
  <div>
    <%= t("campaigns.show.label_drop_off_locations") %>
    <% @campaign.drop_off_locations.each do | location | %>
      <div>
        <b>
          <%= location.name %>
        </b>
      </div>
      <div>
        <%= location.address %>
      </div>
      <div>
        <%= location.opening_hours %>
      </div>
    <% end %>
  </div>
<% end %>
<div>
  <%= simple_form_for(@donation, url: campaign_donations_path(@campaign)) do |f| %>
    <%= f.input :name, value: @donation.name %>
    <%= f.input :phone, as: :tel, value: @donation.phone %>
    <%= f.input :email, as: :email, value: @donation.email %>
    <% if @campaign.available_pickup_times.present? %>
      <%= label_tag("requested_pickup_time", t("campaigns.show.requested_pickup_time")) %>
      <%= select_tag "requested_pickup_time",
        options_from_collection_for_select(@campaign.available_pickup_times, "id", "pickup_as_string"),
        prompt: "-----------------"
      %>
    <% end %>
    <%= f.input :donation_amount, as: :integer, value: @donation.donation_amount %>
    <%= f.input :message, value: @donation.message %>
    <%= f.button :submit %>
  <% end %>
</div>
